# dependencies
node_modules/

# next
.next/
out/

# production
build/

# local env
.env*.local
.env.local

# supabase local runtime
.supabase/
supabase/.temp/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.bundle

# python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store
